*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    /* color: white; */
}
body{
    min-height: 100dvh;
    padding: 3rem;
    /* background-image: url("./bg.jpg"); */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    background-color: #ff63477a;
}
.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    gap: 1rem;
    position: relative;
}
.save{
    position: absolute;
    right: 3rem;
    
}
.save button{
    border-radius: .4rem;
    padding: .3rem;
}
.task-input{
    height: 2rem;
   
    border-radius: .5rem;
    font-size: 1rem;
   
    border: none;
    color: black;
    outline: none;
    padding: 1rem;
 


}
.submit{
  padding: .7rem;
    font-weight: bolder;
    font-size: large;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    color: black;
    
}
.task-wrapper{
    margin-block: 5rem;
    /* margin-left: 4rem; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.box h3{
    font-size: 2rem;
    margin-left: 5rem;
    color: black;
    /* padding: 0.7rem; */
}
.box{
    background-color: #9b9fe8ed;
    /* min-height: 60dvh; */
    padding: .8rem;
    border-radius: 2rem;
}
.task{
    /* height: 10%; */
    background-color: white;
    width: 80%;
    border-radius: 1rem;  
    margin-top: 1.5rem; 
    margin-left: 1.5rem; 
    cursor: move;
    transition: transform 0.2s ease-in;
   
}
.task p{
    font: 1rem;
    /* padding-left: .8rem;
    padding-bottom: 2rem;
    padding-top: .3rem; */
    padding: 1rem;
    font-weight: bold;
    color: black;
}
.task:hover{
transform: scale(1.1);
background-color: rgb(241, 241, 104);
}
.is-dragging{
    transform: rotate(5deg);
    background-color: rgb(128, 211, 231);
    /* transition: none; */
    z-index: 2228;
}
@media  (max-width: 768px){
    .task-wrapper{
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 0 auto;
    }
    .form-wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .save{
        position: fixed;
        right: 1rem;
        top: 1rem;
    }
    
}